<h1>Send Message</h1>

<%= render 'form' %>

<h2>Messages</h2>
<ul>
	<% @messages.each do |message| %>
		<li>
			<h3>Sent by <%= link_to(message.user, user_url(message.user)) %>, <%= time_ago_in_words(message.created_at) %></h3>
			<%= content_tag :p, message.body %>
		</li>
	<% end %>
</ul>